---
title: Le Wagon - Middleman
---
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(255,97,97,0.6) 0%, rgba(252,176,69,0.6) 50%), url('https://kitt.lewagon.com/placeholder/cities/berlin');">
  <div class="banner-content">
    <h1>Welcome home</h1>
    <p>Book unique homes and experience a city like a local.</p>
    <a class="btn btn-primary btn-lg">Start now</a>
  </div>
</div>
<div class="container">
  <div class="row">
    <h3 class="text-center">Recent flats</h3>
    <% data.flats.each do |flat| %>
      <div class="col-xs-12 col-sm-4">
        <!-- insert <div class="card"> -->
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= flat.city_picture %> );">
            <div class="card-category"><%= flat.city %>, <%= flat.country %></div>
            <div class="card-description">
              <h2>Le Wagon <%= flat.city %></h2>
              <p><%= flat.tagline %></p>
            </div>
            <img class="card-user" src= <%= flat.manager_picture %> >
            <a class="card-link" href="#" ></a>
          </div>
      </div>
    <% end %>
  </div>
</div>
